<link rel="stylesheet" href="lesson.component.scss" />
<div class="lesson" *ngIf="lesson">
    <div class="top-bar">
        <eq-string
            [title]="'Lesson title'"
            [value]="lesson.title"
            [mode]="'view'"
            [size]="'large'"
            [required]="true"
        >
        </eq-string>
        <div class="actions">
            <button mat-raised-button (click)="navigateToEditMode()" color="primary">Edit</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Accent</button>
        </div>
    </div>

</div>
