:host {
    /* These two properties are used for the rightmenu */
    display: block;
    width: max-content;

    .edit-panel {
        padding: 16px 16px 0 8px;
        background-color: #bbdefb;
        min-height: calc(100svh - 103px);
    }
}
