<section class="course-edit" *ngIf="module">
    <div class="view">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>preview</mat-icon>
                    Content
                </ng-template>
                <div class="details">
                    <div class="top-bar">
                        <eq-string
                            [title]="'Module title'"
                            [value]="module.title"
                            [mode]="'edit'"
                            [size]="'large'"
                            [required]="true"
                            (valueChange)="updateModuleField($event,'title')"
                        >
                        </eq-string>
                        <div class="actions">
                            <button mat-raised-button (click)="navigateToViewMode()" color="primary">View</button>
                            <button mat-raised-button color="accent">Accent</button>
                            <button mat-raised-button color="warn">Accent</button>
                        </div>
                    </div>

                    <div class="container">
                        <eq-string
                            [title]="'Module description'"
                            [value]="module.description"
                            [mode]="'edit'"
                            [size]="'normal'"
                            [required]="true"
                            (valueChange)="updateModuleField($event,'description')"
                        >
                        </eq-string>
                    </div>
                </div>

                <div class="content">
                    <h3 class="title text__course__title">Leçons</h3>

                    <div class="list">
                        <app-course-module-lesson-list-item></app-course-module-lesson-list-item>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
