.cursor-pointer {
    cursor: pointer;
}

.no-pointer-events {
    pointer-events: none;
}

.scrollbar-style {
    $colorPrimary: #3f51b5;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #c6c6c655;
    }

    &::-webkit-scrollbar-thumb {
        background: lighten($colorPrimary, 5%);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $colorPrimary;
    }
}
