<div class="input-transformer">
  <ng-content *ngIf="!isEditing; else elseBlock" (click)="onClick=$event">
  </ng-content>

  <ng-template #elseBlock>
    <mat-form-field>
      <!--      Used textValue for no troubling the user when he's editing-->
      <input matInput type="text" *ngIf="textValue.length <= 20; else elseInput" [formControl]="text"/>
    </mat-form-field>

    <ng-template #elseInput>
      <mat-form-field>
        <textarea
          matInput
          [autofocus]="true"
          [autocapitalize]="true"
          [matTextareaAutosize]="true"
          [formControl]="text"
          type="text"
          rows="1"
        ></textarea>
      </mat-form-field>
    </ng-template>

    <button type="submit" mat-raised-button color="primary" (click)="onSubmit($event)">
      <mat-icon aria-hidden="false" aria-label="Validate">done</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="onCancel($event)">
      <mat-icon aria-hidden="false" aria-label="Reset">close</mat-icon>
    </button>
  </ng-template>

</div>
