<link rel="stylesheet" href="module.component.scss">
<div class="module">

  <div class="module__details">
    <div class="module__details__left">

      <h2 class="module__details__left__title">Title module</h2>
      <p class="module__details__left__subtitle">subtitle, Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Debitis dicta in, nobis quam quis ratione reprehenderit sit ut velit veritatis?</p>
      <div class="module__details__left__actions">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Accent</button>
      </div>
      <p class="module__details__left__description">
        <strong>Description:</strong>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet cupiditate dolore exercitationem
        expedita facilis, fuga id ipsam ipsum iure maxime 3nobis nostrum officia, optio porro quasi rerum! A.
      </p>
    </div>
    <div class="module__details__right">
      <img
        src="https://placehold.co/600x400/EEE/31343C?text=Image+module"
        alt=""
        class="module__details__right__img"
      >
    </div>
  </div>


  <div class="module__content">
    <h3 class="module__content__title">Leçons</h3>

    <div class="module__content__list">
<app-course-module-lesson-list-item></app-course-module-lesson-list-item>
    </div>

  </div>
</div>
