.module {
    max-height: calc(100svh - 55px - 20px);
    height: 100%;
    padding: 16px;
    overflow-y: auto;

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions {
            display: inline-flex;
            justify-content: space-evenly;
            padding-bottom: 14px;

            > * {
                margin-left: 12px;
            }

            > :first-child {
                margin-left: 0;
            }
        }
    }

    .details {
        width: 100%;
        display: flex;
        flex-direction: column;

        .description {
            margin-top: 1rem;
        }
    }

    .content {

        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > * {
                width: 95%;
                flex: 1;
            }
        }
    }
}
