<section class="module" *ngIf="module">
    <div class="top-bar">
        <h2 class="text__course__title">{{ module.title }}</h2>
        <div class="actions">
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Accent</button>
        </div>
    </div>
    <div class="details">
        <p class="description text__course__description">{{ module.description }}</p>
    </div>

    <div class="content">
        <h3 class="title text__course__title">Leçons</h3>

        <div class="list">
            <app-course-module-lesson-list-item></app-course-module-lesson-list-item>
        </div>
    </div>
</section>
