.module {
    overflow-y: auto;
    height: 100%;
    max-height: calc(100svh - 55px - 20px);
    padding: 32px;

    .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;

        .additional-information {
            display: flex;
            gap: 16px;
            align-items: flex-end;
            justify-content: space-evenly;

            width: max-content;
            padding: 16px;

            font-size: 14px;
            font-weight: 480;
            color: transparentize(black, 0.6);
            white-space: nowrap;

            background-color: transparentize(black, 0.96);
            border-radius: 8px;

            .last-update,
            .author,
            .lessons-count,
            .learning-time {
                display: flex;
                flex-direction: column;
                gap: 4px;
                align-items: center;
                justify-content: center;

                span {
                    color: transparentize(black, 0.4);
                }
            }
        }
    }

    .content {
        .title {
            margin-bottom: 8px;
        }
    }
}
