<section class="lesson-edit" *ngIf="lesson">
    <div class="view">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>preview</mat-icon>
                    Content
                </ng-template>
                <div class="details">

                    <div class="top-bar">
                        <h2 class="text__course__title">{{ lesson.title }}</h2>
                        <div class="actions">
                            <button mat-raised-button color="primary">Primary</button>
                            <button mat-raised-button color="accent">Accent</button>
                            <button mat-raised-button color="warn">Accent</button>
                        </div>
                    </div>
                </div>

                <!--                    <div class="container">-->
                <!--                        <p class="subtitle text__course__subtitle">-->
                <!--                            subtitle, Lorem ipsum dolor sit amet, consectetur-->
                <!--                            adipisicing elit. Debitis dicta in, nobis quam quis-->
                <!--                            ratione reprehenderit sit ut velit veritatis?-->
                <!--                        </p>-->

                <!--                        <p class="description text__course__description">-->
                <!--                            subtitle, Lorem ipsum dolor sit amet, consectetur-->
                <!--                            adipisicing elit. Debitis dicta in, nobis quam quis-->
                <!--                            ratione reprehenderit sit ut velit veritatis?-->
                <!--                        </p>-->
                <!--                    </div>-->

                <!--                <div class="content">-->
                <!--                    <h3 class="title text__course__title">Pages</h3>-->

                <!--                    <div class="list">-->
                <!--                        <app-course-module-lesson-page-list-item></app-course-module-lesson-page-list-item>-->
                <!--                    </div>-->
                <!--                </div>-->
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
