:host {
    .course-edit {
        max-height: calc(100svh - 55px - 20px);
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .view {
            display: flex;
            flex-direction: column;
            //noinspection CssInvalidPropertyValue
            width: -webkit-fill-available;
            //noinspection CssInvalidPropertyValue
            width: -moz-available;

            .details {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 16px 8px 0 16px;

                .container {
                    display: flex;
                    width: -webkit-fill-available;
                    width: -moz-available;
                    margin-right: 0.5rem;
                    flex-direction: column;

                    .actions {
                        display: inline-flex;
                        justify-content: space-evenly;
                        width: 100%;
                        margin: 0.3rem 0;
                    }
                }

                .description {
                    margin-top: 1rem;
                    max-width: 65ch;
                    cursor: pointer;
                }
            }

            .content {
                padding-left: 16px;

                .title {
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & > * {
                        width: 95%;
                        flex: 1;
                        margin: 10px 0;
                    }
                }
            }
        }

        .edit {
        }
    }
}
