<section class="lesson-edit scrollbar-style" *ngIf="lesson">
    <div class="view">
        <div class="details">
            <div class="top-bar">
                <eq-string
                    [title]="'Lesson title'"
                    [hint]="'Title of the lesson'"
                    [value]="lesson.title"
                    [mode]="'edit'"
                    [size]="'large'"
                    [required]="true"
                    (valueChange)="updateLessonField($event, 'title')">
                </eq-string>
                <div class="actions">
                    <button mat-raised-button (click)="navigateToViewMode()" color="primary">View</button>
                </div>
            </div>
            <div class="additional-information">
                <span class="last-update" title="Last modification date">
                    <mat-icon>schedule</mat-icon>
                    <span> {{ lesson.modified | date: 'shortDate' }}</span>
                </span>

                <div class="author" title="Author">
                    <mat-icon>person</mat-icon>
                    <span>Cédric François</span>
                </div>

                <div class="pages-count" title="Pages count">
                    <mat-icon>auto_stories</mat-icon>
                    <span>{{ lesson.pages?.length }}</span>
                </div>

                <div class="learning-time" title="Learning time">
                    <mat-icon>timer</mat-icon>
                    <span>{{ +(90 / 60).toFixed(0) - 1 }}h {{ 90 * (1000 * 60) | date: 'm' }}min</span>
                </div>
            </div>
        </div>
    </div>
</section>
