<div class="course-module-lesson-page-leaf-list-item">
  <div class="course-module-lesson-page-leaf-list-item__drag">
    <mat-icon class="course-module-lesson-page-leaf-list-item__drag__icon">drag_indicator</mat-icon>
  </div>
  <div class="course-module-lesson-page-leaf-list-item__content">
    <h4 class="course-module-lesson-page-leaf-list-item__content__title">Lorem ipsum dolor sit amet.</h4>
    <p class="course-module-lesson-page-leaf-list-item__content__description">Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Adipisci at, culpa exercitationem inventore odio porro repellat vero voluptate voluptates
    </p>
  </div>
</div>
