<mat-tab-group [backgroundColor]="'primary'">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
            Parameters
        </ng-template>
        <div class="edit-panel">Hello</div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>account_tree</mat-icon>
            Tree
        </ng-template>
        <div class="edit-panel">World</div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>public</mat-icon>
            SEO
        </ng-template>
        <div class="edit-panel">!!!</div>
    </mat-tab>
</mat-tab-group>
