<section class="course" *ngIf="course">
    <div class="top-bar">
        <eq-string [title]="'Course title'" [value]="course.title" [mode]="'view'" [size]="'large'" [required]="true">
        </eq-string>
        <div class="actions">
            <button mat-raised-button (click)="navigateToEditMode()" color="primary">Edit</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Accent</button>
        </div>
    </div>
    <div class="details">
        <div class="left">
            <eq-string
                [title]="'Course subtitle'"
                [value]="course.subtitle"
                [mode]="'view'"
                [size]="'normal'"
                [required]="true">
            </eq-string>
            <eq-string
                [title]="'Course description'"
                [value]="course.description"
                [mode]="'view'"
                [size]="'normal'"
                [required]="true">
            </eq-string>
            <div class="additional-information">
                <span class="last-update">
                    Last modification:
                    <span> {{ course.modified | date: 'shortDate' }}</span>
                </span>

                <div class="author">
                    <mat-icon>attribution</mat-icon>
                    <span>Cédric François</span>
                </div>

                <div class="modules-count">
                    <mat-icon>view_module</mat-icon>
                    <span>{{ course.id }}</span>
                </div>

                <div class="learning-time">
                    <mat-icon>schedule</mat-icon>
                    <span>{{ +(90 / 60).toFixed(0) - 1 }}h {{ 90 * (1000 * 60) | date: 'm' }}min</span>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="https://placehold.co/600x400/EEE/31343C?text=Image+course" alt="" class="img mat-elevation-z3" />
        </div>
    </div>
    <div class="content">
        <h3 class="title text__course__title">Modules</h3>

        <div class="list">
            <app-course-module-list-item></app-course-module-list-item>
        </div>
    </div>
</section>
