:host {
    .course {
        overflow-y: auto;
        height: 100%;
        max-height: calc(100svh - 55px - 20px);
        padding: 32px;

        .top-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .actions {
                display: inline-flex;
                justify-content: space-evenly;
                padding-bottom: 14px;

                > * {
                    margin-left: 12px;
                }

                > :first-child {
                    margin-left: 0;
                }
            }
        }

        .details {
            display: flex;
            width: 100%;
            margin-bottom: 24px;


            .left {
                display: flex;
                flex-direction: column;
                width: 100%;


                .additional-information {
                    display: flex;
                    gap: 16px;
                    align-items: flex-end;
                    justify-content: space-evenly;

                    width: max-content;
                    padding: 16px;

                    font-size: 14px;
                    font-weight: 480;
                    color: transparentize(black, 0.6);
                    white-space: nowrap;

                    background-color: transparentize(black, 0.96);
                    border-radius: 8px;

                    .last-update,
                    .author,
                    .modules-count,
                    .learning-time {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: transparentize(black, 0.4);
                        }
                    }
                }
            }

            .right {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                width: 100%;
                margin-top: 1.5rem;
                margin-left: 1.5rem;

                .img {
                    width: 100%;
                    max-width: 350px;
                    max-height: 300px;

                    object-fit: contain;
                    border-radius: 8px;
                }
            }
        }

        .content {
            .title {
                margin-bottom: 16px;
            }
        }
    }
}
