<link rel="stylesheet" href="course.component.scss"/>
<section class="course" *ngIf="course">
    <div class="top-bar">
        <h2 class="text__course__title">{{ course.title }}</h2>
        <div class="actions">
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Accent</button>
        </div>
    </div>
    <div class="details">
        <div class="left">
            <p class="subtitle text__course__subtitle">{{ course.subtitle }} </p>
            <p class="description text__course__description">{{ course.description }} </p>
        </div>
        <div class="right">
            <img
                src="https://placehold.co/600x400/EEE/31343C?text=Image+course"
                alt=""
                class="img"/>
        </div>
    </div>

    <div class="content">
        <h3 class="title text__course__title">Modules</h3>

        <div class="list">
            <app-course-module-list-item></app-course-module-list-item>
        </div>
    </div>
</section>
