@use 'sass:color';

:host {
    .course {
        overflow-y: auto;
        height: 100%;
        max-height: calc(100svh - 55px - 20px);

        .container {
            padding: 32px;

            .details {
                display: flex;
                width: 100%;
                margin-bottom: 24px;


                .left {
                    display: flex;
                    flex-direction: column;
                    width: 100%;


                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    align-items: center;
                    justify-content: flex-start;

                    width: 100%;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;

                    .img {
                        width: 100%;
                        max-width: 350px;
                        max-height: 300px;

                        object-fit: contain;
                        border-radius: 8px;
                    }

                    .additional-information {
                        display: flex;
                        gap: 16px;
                        align-items: flex-end;
                        justify-content: space-evenly;

                        width: 350px;
                        padding: 16px;

                        font-size: 14px;
                        font-weight: 480;
                        color: color.adjust(black, $alpha: -0.6);
                        white-space: nowrap;

                        background-color: color.adjust(black, $alpha: -0.96);
                        border-radius: 8px;

                        .last-update,
                        .author,
                        .modules-count,
                        .learning-time {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            align-items: center;
                            justify-content: center;

                            span {
                                color: color.adjust(black, $alpha: -0.4);
                            }
                        }
                    }
                }
            }

            .content {
                .title {
                    margin-bottom: 8px;
                }
            }
        }
    }
}
