<link rel="stylesheet" href="course-edit.component.scss" />
<section class="course-edit" *ngIf="course">
    <div class="view">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>preview</mat-icon>
                    Content
                </ng-template>
                <div class="details">
                    <div class="top-bar">
                        <eq-string
                            [title]="'Course title'"
                            [value]="course.title"
                            [mode]="'edit'"
                            [size]="'large'"
                            [required]="true"
                            (valueChange)="updateCourseField($event,'title')"

                        >
                        </eq-string>
                        <div class="actions">
                            <button mat-raised-button (click)="navigateToViewMode()" color="primary">View</button>
                            <button mat-raised-button color="accent">Accent</button>
                            <button mat-raised-button color="warn">Accent</button>
                        </div>
                    </div>

                    <div class="container">
                        <div class="left">
                            <eq-string
                                [title]="'Course subtitle'"
                                [value]="course.subtitle"
                                [mode]="'edit'"
                                [size]="'normal'"
                                [required]="true"
                                (valueChange)="updateCourseField($event,'subtitle')"
                            >
                            </eq-string>

                            <eq-string
                                [title]="'Course description'"
                                [value]="course.description"
                                [mode]="'edit'"
                                [size]="'normal'"
                                [required]="true"
                                (valueChange)="updateCourseField($event,'description')"
                            >
                            </eq-string>
                        </div>

                        <div class="right">
                            <img src="https://placehold.co/600x400/EEE/31343C?text=Image+course" alt="" class="img mat-elevation-z3" />
                        </div>
                    </div>
                </div>

                <div class="content">
                    <h3 class="title text__course__title">Modules</h3>

                    <div class="list">
                        <app-course-module-list-item></app-course-module-list-item>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!--    <div class="edit">-->
    <!--        <app-course-edition-panel></app-course-edition-panel>-->
    <!--    </div>-->
</section>
