<link rel="stylesheet" href="course-edit.component.scss">
<div class="course-edit">

  <div class="course-edit__view">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>preview</mat-icon>
          Content
        </ng-template>
        <div class="course-edit__view__details">
          <div class="course-edit__view__details__container">

            <div class="course-edit__view__details__container__left">

              <app-input-transformer [(textValue)]="title">
                <h2 class="course-edit__view__details__container__left__title">{{ title }}</h2>
              </app-input-transformer>

              <p class="course-edit__view__details__container__left__subtitle">subtitle, Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Debitis dicta in, nobis quam quis ratione reprehenderit sit ut velit
                veritatis?
              </p>
              <div class="course-edit__view__details__container__left__actions">
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="warn">Accent</button>
              </div>
            </div>

            <div class="course-edit__view__details__container__right">
              <img
                src="https://placehold.co/600x400/EEE/31343C?text=Image+course"
                alt=""
                class="course-edit__view__details__container__right__img"
              >
            </div>

          </div>

          <p class="course-edit__view__details__description">
            <strong>Description:</strong>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet cupiditate dolore
            exercitationem
            expedita facilis, fuga id ipsam ipsum iure maxime 3nobis nostrum officia, optio porro quasi rerum! A.
          </p>

        </div>


        <div class="course-edit__view__content">
          <h3 class="course-edit__view__content__title">Modules</h3>

          <div class="course-edit__view__content__list">
            <app-course-module-list-item></app-course-module-list-item>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="course-edit__edit">
    <app-course-edition-panel></app-course-edition-panel>

  </div>

</div>
