<link rel="stylesheet" href="course-edit.component.scss"/>
<section class="course-edit">
    <div class="view">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>preview</mat-icon>
                    Content
                </ng-template>
                <div class="details">
                    <div class="container">
                        <div class="left">
                            <h2 class="text__course__title">Title course</h2>
                            <p class="text__course__subtitle">
                                subtitle, Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Debitis dicta in,
                                nobis quam quis ratione reprehenderit sit ut
                                velit veritatis?
                            </p>
                            <div
                                class="actions">
                                <button mat-raised-button color="primary">
                                    Primary
                                </button>
                                <button mat-raised-button color="accent">
                                    Accent
                                </button>
                                <button mat-raised-button color="warn">
                                    Accent
                                </button>
                            </div>
                        </div>

                        <div class="right">
                            <img
                                src="https://placehold.co/600x400/EEE/31343C?text=Image+course"
                                alt=""
                                class="img"/>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <h3
                        class="title text__course__title">
                        Modules
                    </h3>

                    <div class="list">
                        <app-course-module-list-item></app-course-module-list-item>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="edit">
        <app-course-edition-panel></app-course-edition-panel>
    </div>
</section>
