:host {
    .page {
        max-height: calc(100svh - 55px - 20px);
        height: 100%;
        padding: 16px;
        overflow-y: auto;

        .top-bar {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .actions {
                display: inline-flex;
                justify-content: space-evenly;

                > * {
                    margin-left: 12px;
                }

                > :first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
