<div class="page">

  <div class="page__details">
    <div class="page__details__left">

      <h2 class="page__details__left__title">Title page</h2>
      <p class="page__details__left__subtitle">subtitle, Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Debitis dicta in, nobis quam quis ratione reprehenderit sit ut velit veritatis?</p>
      <div class="page__details__left__actions">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Accent</button>
      </div>
      <p class="page__details__left__description">
        <strong>Description:</strong>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet cupiditate dolore exercitationem
        expedita facilis, fuga id ipsam ipsum iure maxime 3nobis nostrum officia, optio porro quasi rerum! A.
      </p>
    </div>
    <div class="page__details__right">
      <img
        src="https://placehold.co/600x400/EEE/31343C?text=Image+page"
        alt=""
        class="page__details__right__img"
      >
    </div>
  </div>


  <div class="page__content">
    <h3 class="page__content__title">Feuilles</h3>

    <div class="page__content__list">
      <app-course-module-lesson-page-leaf-list-item></app-course-module-lesson-page-leaf-list-item>
    </div>

  </div>
</div>
