:host {
    display: block;
    width: max-content;

    .edit-panel {
        width: 450px;
        height: calc(100svh - 103px);
        padding: 16px 16px 0 8px;

        .drop-list {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item {
                cursor: grab;

                display: flex;
                flex-direction: row;

                width: 100%;
                height: min-content;
                margin-bottom: 8px;
                padding: 4px 8px 4px 4px;

                border: 1px solid black;
                border-radius: 5px;

                > *|* {
                    pointer-events: none;
                    user-select: none;
                }

                .drag {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 40px;
                    min-width:40px;
                    max-width: 40px;

                    .icon {
                        width: auto;
                    }
                }

                .content {
                    padding-left: 5px;

                    .title {
                        font-size: 17px;
                        font-weight: 600;
                        color: #424242;
                    }
                }
            }
        }
    }
}
