:host {
    .course-module-lesson-list-item {
        width: 100%;
        height: min-content;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        padding: 4px 8px 4px 4px;
        border-radius: 5px;
        cursor: pointer;
        margin: 16px 0;

        .content {
            padding-left: 5px;

            .title {
                font-size: 17px;
                font-weight: 600;
                color: #424242;
            }
        }
    }
}
