:host {
    .course-module-lesson-list-item {
        width: 100%;
        height: min-content;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        padding: 4px 8px 4px 4px;
        border-radius: 5px;
        cursor: pointer;
        margin: 16px 0;

        .drag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;

            .icon {
                width: auto;
                cursor: grab;
            }
        }

        .content {
            padding-left: 5px;

            .title {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}
